@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'SF Pro Display Regular';
src: url('/font/SF-Pro-Display-Regular.otf') format('opentype');

font-weight: normal;
font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Work Sans';
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  src: url('/font/WorkSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local('Inter Regular'), local('Inter-Regular'), url('/font//inter/Inter-Regular.ttf') format('ttf');
}

.bg {
  background-image: linear-gradient(to right, white, rgba(230, 246, 245, 0.26), white, white);
  /* background: linear-gradient(to right, transparent, transparent 10%, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.9) 90%, transparent 90%, transparent); */
}

nav {
  z-index: 1;
  background: #ECECEC;
  font-family: inter;
  font-weight: 400;
}

.footer {
  color: #E5E5E5
  /* background-color: purple; */
}

::placeholder {
  font-family: "Work Sans";
  padding: 10px;
  padding-left: 10px;
  color: #fff;
}

.input-button {
  position: absolute;
  right: 4px;
  width: 133.48px;
  height: 38px;
  border-radius: 3px;
  border: 1px solid #3C9541;
  background: #E6F6F5;
  top: 5px;
  color: #023436
}

.input {
  width: 350px;
  height: 48px;
  background: transparent;

}

.inputSm {
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background: radial-gradient(228.83% 108.71% at -22.65% 12.33%, rgba(0, 230, 118, 0.16) 0%, rgba(108, 99, 255, 0.08) 21.97%, rgba(0, 230, 118, 0.03) 98.44%);
  height: 48px;
  /* background: transparent; */

}

heroNum {

  background-image: linear-gradient(to bottom, #023436, white, #fff, #023436, );
}


.text-grad {
  background: linear-gradient(to right, #FFFF8D, #CC6984);
  -webkit-background-clip: text;
  /* width: w-fit; */
  color: transparent;


}

.dd {
  justify-content: space-evenly;
  width: 450px;

}

Link {
  /* margin: 10px; */
}

.fit {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background: radial-gradient(228.83% 108.71% at -22.65% 12.33%, rgba(0, 230, 118, 0.16) 0%, rgba(108, 99, 255, 0.08) 21.97%, rgba(0, 230, 118, 0.03) 98.44%);

}


.hero {
  padding: 24px, 32px, 24px, 32px
}

.fix {
  z-index: 1;
}

.containers {
  position: relative;
  white-space: nowrap;

  /* background: linear-gradient(to right, transparent, transparent 10%, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.9) 90%, transparent 90%, transparent); */
}

.box {
  /* width:444px;
  height: 600px; */
  /* background-color: #3498db; */
  display: inline-block;

  position: relative;
  /* Set position to relative */
}




.button-container {
  position: absolute;
  bottom: 30%;
  right: 0;
  padding: 8px;
}

.hello-button {
  background-color: #00993380;
  color: #fff;
  font-size: 16px;
  border: none;
  width: 136px;
  border-radius: 1000px;
  height: 44px;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 1;
}